{% extends "base.html" %}
{% block contain %}
<li>Welcome {{ uid }}</li>
<ul id="cahrt-info">
</ul>
<script type="text/javascript">
    function add(info, mes) {
        var elem_li = document.createElement('li'); // 生成一个 li元素
        elem_li.innerHTML = info + ":" + mes; // 设置元素的内容
        document.getElementById('cahrt-info').appendChild(elem_li); // 添加到UL中去
    }
    var uinfo = {% raw uinfo %};
    var ws = new WebSocket("{% raw wsockaddr %}");
    //console.log(ws);  
    ws.onopen = function () {
        alert("Join  chat room.")
    }
    ws.onmessage = function (evt) {
        var w = JSON.parse(evt.data)
        add(w.user, w.msg);
        //console.log(evt.data);
    }

    function send() {
        ws.send(document.getElementById("input_msg").value);
    }
    function mclose() {
        console.log('close chat room.');
        ws.close();
        //<!-- window.opener = null; -->
        window.open('', '_self');
        window.close();

    }
</script>
<input type="button" onclick="mclose();" value="关闭聊天室">
<input type="text" id="input_msg" name="mes">
<input type="button" onclick="send();" value="发送">
{% end block %}